*{
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Ysabeau Office', sans-serif;
 
}
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #C19458;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #94693f;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #94693f;
  }