#carousel-content{
width: 100%;
overflow: hidden;
}
#carousels{
width: 100%;
height: 780px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
animation: Carousel 40s   infinite ;
transition-timing-function: cubic-bezier(5, 2, 2, 5);
}



@keyframes Carousel {

  0%   {transform: translateX(0);}
  25%  {transform: translateX(-100%);}
  50%  {transform: translateX(-200%);}
  75%  {transform: translateX(-300%);}
  
}